@font-face {
  font-family: 'Dimitri';
  src: url('../font/DIMITRI_.ttf') format('truetype');
  font-display: swap; /* Migliora la gestione del caricamento del font */
}

.navbar {
  background-color: #001529; /* Colore di sfondo della navbar */
  width: 100%; /* Imposta la larghezza al 100% */
  margin: 0; /* Rimuovi il margine per farla occupare tutta la larghezza dello schermo */
  padding: 0 20px; /* Padding orizzontale per dare un po' di spazio ai lati */
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.usernameText{
  font-family: "Dimitri" !important;
  letter-spacing: 0.8px !important;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .ant-btn {
  margin-left: 10px; /* Distanza tra il bottone di login e le notifiche */
}

.ant-input {
  border-radius: 20px; /* Aggiungi angoli arrotondati alla barra di ricerca */
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}
.custom-modal .ant-modal-content {
  background: linear-gradient(to bottom right, #9b4dca, #6f2bb3); /* sfumatura viola */
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.custom-modal .ant-modal-header {
  background-color: #6f2bb3; /* header viola scuro */
  color: white;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

:where(.css-dev-only-do-not-override-xex5fb).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #fff !important;
    text-shadow: 0 0 0.25px currentcolor;
}

.custom-modal .ant-tabs-tab {
  color: #282828;
  font-weight: bold;
}

.custom-modal .ant-tabs-tab-active {
  color: #9b4dca; /* Colore per il tab attivo */
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px; /* Riduci il padding */
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

  .navbar-right .ant-btn {
    margin-left: 125px !important; /* Riduci lo spazio tra i pulsanti */
    font-size: 14px; /* Riduci il font per adattarlo meglio */
    padding: 16px 18px;
  }

  .navbar-left img {
    height: 25px; /* Riduci la dimensione del logo per risparmiare spazio */
  }
}
