@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'DM Sans' !important;
}
@media (max-width: 767px) {
  .username {
    display: none; /* Nasconde il username sui dispositivi mobili */
  }
}

/* Per schermi più grandi (tablet e desktop) mostra il username */
@media (min-width: 768px) {
  .username {
    display: block; /* Mostra il username su tablet e desktop */
    margin-left: 10px;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.avatar-container {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex-direction: row !important;
  position: absolute !important;
  bottom: 80px !important;
  left: 23px !important;
}

.username{
  color: white !important;
}


.breadcrumb-item {
  color: #000 !important; /* Colore del testo dell'elemento */
}

.breadcrumb-icon {
  color: #fff !important; /* Colore dell'icona */
}


/* Modale con sfondo scuro, bordi arrotondati e ombra */
.custom-modal .ant-modal-content {
  background: rgba(255, 255, 255, 0.2) !important; /* Maggiore trasparenza per il vetro */
  backdrop-filter: blur(12px) !important; /* Aumento del blur per un effetto più "sfocato" */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3) !important; /* Ombra più morbida e più estesa */
  padding: 30px !important; /* Maggiore spazio interno */
  border-radius: 16px !important; /* Bordo più arrotondato */
  border: 1px solid rgba(255, 255, 255, 0.2) !important; /* Bordi più morbidi e trasparenti */
  overflow: hidden !important; /* Nasconde eventuali bordi non arrotondati */
}

.custom-modal .ant-modal-header {
  background: rgba(255, 255, 255, 0.1) !important; /* Header più trasparente */
  backdrop-filter: blur(10px) !important; /* Aggiunta della sfocatura anche nell'header */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important; /* Linea di separazione tra header e contenuto */
}

.custom-modal .ant-modal-footer {
  background: rgba(255, 255, 255, 0.1) !important; /* Footer con lo stesso effetto */
  backdrop-filter: blur(10px) !important;
  border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
}


/* Stile per la maschera (sfondo scuro dietro la modale) */
.custom-mask {
  background-color: rgba(0, 0, 0, 0.7); /* Maschera scura sotto la modale */
}

/* Stile delle righe per i ranghi */
.top1 {
  background-color: #675b16; /* Oro per il primo posto */
  color: #fff;
  font-weight: bold;
}

.top2 {
  background-color: #c0c0c0; /* Argento per il secondo posto */
  color: #fff;
  font-weight: bold;
}

.top3 {
  background-color: #cd7f32; /* Bronzo per il terzo posto */
  color: #fff;
  font-weight: bold;
}

/* Stile della tabella */
.ant-table {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #444; /* Bordo sottile per la tabella */
}

.ant-table-tbody > tr {
  border-bottom: 1px solid #444; /* Linea separatrice tra le righe */
}

.ant-table-tbody > tr:last-child {
  border-bottom: none; /* Rimuovi il bordo dall'ultima riga */
}

/* Stile per la testa della tabella */
.ant-table-thead > tr > th {
  background-color: #333; /* Sfondo scuro per l'intestazione */
  color: #fff; /* Testo bianco per l'intestazione */
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 12px;
}

/* Stile delle righe della tabella */
.ant-table-tbody > tr > td {
  padding: 16px 12px; /* Aumentato il padding per un aspetto più pulito */
  text-align: center;
}

/* Stile per la descrizione vuota */
.ant-empty-description {
  color: #bbb; /* Grigio chiaro per il messaggio "Nessun partecipante registrato" */
  font-size: 16px;
  font-style: italic;
}
